<ul class="list-none text-center uppercase">
    <li class="inline-block m-4">
        <a href="/adminstrator/categories" class="text-blue-600 underline">Categories</a>
    </li>
    <li class="inline-block m-4">
        <a href="/adminstrator/add-category" class="text-blue-600 underline">Add category</a>
    </li>
    <li class="inline-block m-4">
        <a href="/adminstrator/products" class="text-blue-600 underline">Products</a>
    </li>
    <li class="inline-block m-4">
        <a href="/adminstrator/add-product" class="text-blue-600 underline">Add product</a>
    </li>
    <li class="inline-block m-4">
        <form action="/adminstrator/logout" method="POST">
            <button type="submit" class="text-blue-600 underline uppercase">Log out</button>
        </form>
    </li>
</ul>