<% if (cart==='/product' ) { %>
    <form action="/add-cart" method="post" class="inline-block">
        <input type="hidden" name="productId" value="<%= product._id %>">
        <button class="rounded bg-[#ED6335] text-white p-3 text-3xl ml-4 inline-block" type="submit"
            aria-label="add to card" title="Add To Card">
            <ion-icon name="bag-add-outline" aria-hidden="true" class="inline-block text-2xl"></ion-icon> Add to
            cart
        </button>
    </form>
    <% } else { %>
        <form action="/add-cart" method="post" class="block">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <button class="rounded bg-[#ED6335] text-white p-3 text-3xl ml-4 inline-block" type="submit"
                aria-label="add to card" title="Add To Card">
                <ion-icon name="bag-add-outline" aria-hidden="true" class="inline-block text-2xl"></ion-icon> Add to
                cart
            </button>
        </form>
        <% } %>